# Movie Recommendations with Document Similarity

Recommender systems are one of the popular and most adopted applications of machine learning. They are typically used to recommend entities to users and these entites can be anything like products, movies, services and so on. 

Popular examples of recommendations include,
- Amazon suggesting products on its website
- Amazon Prime, Netflix, Hotstar recommending movies\shows
- YouTube recommending videos to watch

Typically recommender systems can be implemented in three ways:

- Simple Rule-based Recommenders: Typically based on specific global metrics and thresholds like movie popularity, global ratings etc.
- Content-based Recommenders: This is based on providing similar entities based on a specific entity of interest. Content metadata can be used here like movie descriptions, genre, cast, director and so on
- Collaborative filtering Recommenders: Here we don't need metadata but we try to predict recommendations and ratings based on past ratings of different users and specific items.

We will be building a movie recommendation system here where based on data\metadata pertaining to different movies, we try and recommend similar movies of interest!

![](https://i.imgur.com/c7Go7d3.png)

Since our focus in not really recommendation engines but NLP, we will be leveraging the text-based metadata for each movie to try and recommend similar movies based on specific movies of interest. This falls under content-based recommenders.

In [29]:
!pip install textsearch
!pip install contractions
import nltk
nltk.download('punkt')
nltk.download('stopwords')

Requirement already satisfied: textsearch in /usr/local/lib/python3.6/dist-packages (0.0.17)
Requirement already satisfied: Unidecode in /usr/local/lib/python3.6/dist-packages (from textsearch) (1.1.1)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.6/dist-packages (from textsearch) (1.4.0)
Requirement already satisfied: contractions in /usr/local/lib/python3.6/dist-packages (0.0.21)
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [43]:
import pandas as pd

df = pd.read_csv('https://github.com/dipanjanS/nlp_workshop_dhs18/raw/master/Unit%2010%20-%20Project%208%20-%20Movie%20Recommendations%20with%20Document%20Similarity/tmdb_5000_movies.csv.gz', compression='gzip')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
budget                  4803 non-null int64
genres                  4803 non-null object
homepage                1712 non-null object
id                      4803 non-null int64
keywords                4803 non-null object
original_language       4803 non-null object
original_title          4803 non-null object
overview                4800 non-null object
popularity              4803 non-null float64
production_companies    4803 non-null object
production_countries    4803 non-null object
release_date            4802 non-null object
revenue                 4803 non-null int64
runtime                 4801 non-null float64
spoken_languages        4803 non-null object
status                  4803 non-null object
tagline                 3959 non-null object
title                   4803 non-null object
vote_average            4803 non-null float64
vote_count              4803 non-null int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.5+ KB

In [44]:
df.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [45]:
df = df[['title', 'tagline', 'overview', 'popularity']]
df.tagline.fillna('', inplace=True)
df['description'] = df['tagline'].map(str) + ' ' + df['overview']
df.dropna(inplace=True)
df = df.sort_values(by=['popularity'], ascending=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 546 to 4553
Data columns (total 5 columns):
title          4800 non-null object
tagline        4800 non-null object
overview       4800 non-null object
popularity     4800 non-null float64
description    4800 non-null object
dtypes: float64(1), object(4)
memory usage: 225.0+ KB

In [46]:
df.head()

                       title  ...                                        description
546                  Minions  ...  Before Gru, they had a history of bad bosses M...
95              Interstellar  ...  Mankind was born on Earth. It was never meant ...
788                 Deadpool  ...  Witness the beginning of a happy ending Deadpo...
94   Guardians of the Galaxy  ...  All heroes start somewhere. Light years from E...
127       Mad Max: Fury Road  ...  What a Lovely Day. An apocalyptic story set in...

[5 rows x 5 columns]

# Build a Movie Recommender System

Here you will build your own movie recommender system. We will use the following pipeline:
- Text pre-processing
- Feature Engineering
- Document Similarity Computation
- Find top similar movies
- Build a movie recommendation function


## Document Similarity

Recommendations are about understanding the underlying features which make us favour one choice over the other. Similarity between items(in this case movies) is one way to understanding why we choose one movie over another. There are different ways to calculate similarity between two items. One of the most widely used measures is __cosine similarity__ which we have already used in the previous unit.

### Cosine Similarity

Cosine Similarity is used to calculate a numeric score to denote the similarity between two text documents. Mathematically, it is defined as follows:

$$ cosine(x,y) = \frac{x. y^\intercal}{||x||.||y||} $$

In [55]:
import nltk
import re
import numpy as np
import contractions

stop_words = nltk.corpus.stopwords.words('english')

def normalize_document(doc):
    # lower case and remove special characters\whitespaces
    doc = re.sub(r'[^a-zA-Z0-9\s]', '', doc, re.I|re.A)
    doc = doc.lower()
    doc = doc.strip()
    doc = contractions.fix(doc)
    # tokenize document
    tokens = nltk.word_tokenize(doc)
    #filter stopwords out of document
    filtered_tokens = [token for token in tokens if token not in stop_words]
    # re-create document from filtered tokens
    doc = ' '.join(filtered_tokens)
    return doc

normalize_corpus = np.vectorize(normalize_document)

norm_corpus = normalize_corpus(list(df['description']))
len(norm_corpus)

4800

## Extract TF-IDF Features

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(ngram_range=(1, 2), min_df=2)
tfidf_matrix = tf.fit_transform(norm_corpus)
tfidf_matrix.shape

(4800, 20468)

## Compute Pairwise Document Similarity

In [57]:
from sklearn.metrics.pairwise import cosine_similarity

doc_sim = cosine_similarity(tfidf_matrix)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df.head()

      0         1         2     ...      4797      4798      4799
0  1.00000  0.000000  0.000000  ...  0.000000  0.000000  0.009646
1  0.00000  1.000000  0.000000  ...  0.000000  0.000000  0.007963
2  0.00000  0.000000  1.000000  ...  0.000000  0.027126  0.009340
3  0.00000  0.017839  0.000000  ...  0.000000  0.000000  0.000000
4  0.00607  0.007967  0.017176  ...  0.004515  0.043469  0.011464

[5 rows x 4800 columns]

## Get List of Movie Titles

In [58]:
movies_list = df['title'].values
movies_list, movies_list.shape

(array(['Minions', 'Interstellar', 'Deadpool', ..., 'Penitentiary',
        'Alien Zone', 'America Is Still the Place'], dtype=object), (4800,))

## Find Top Similar Movies for a Sample Movie

Let's take __Minions__ the most popular movie the the dataframe above and try and find the most similar movies which can be recommended

#### Find movie ID

In [59]:
movie_idx = np.where(movies_list == 'Minions')[0][0]
movie_idx

0

#### Get movie similarities

In [60]:
movie_similarities = doc_sim_df.iloc[movie_idx].values
movie_similarities

array([1.        , 0.        , 0.        , ..., 0.        , 0.        ,
       0.00964634])

#### Get top 5 similar movie IDs

In [61]:
similar_movie_idxs = np.argsort(-movie_similarities)[1:6]
similar_movie_idxs

array([ 33,  60, 737, 490, 298])

#### Get top 5 similar movies

In [62]:
similar_movies = movies_list[similar_movie_idxs]
similar_movies

array(['Despicable Me 2', 'Despicable Me',
       'Teenage Mutant Ninja Turtles: Out of the Shadows', 'Superman',
       'Rise of the Guardians'], dtype=object)

### Build a movie recommender function to recommend top 5 similar movies for any movie 

The movie title, movie title list and document similarity matrix dataframe will be given as inputs to the function

In [0]:
def movie_recommender(movie_title, movies=movies_list, doc_sims=doc_sim_df):
    # find movie id
    movie_idx = np.where(movies == movie_title)[0][0]
    # get movie similarities
    movie_similarities = doc_sims.iloc[movie_idx].values
    # get top 5 similar movie IDs
    similar_movie_idxs = np.argsort(-movie_similarities)[1:6]
    # get top 5 movies
    similar_movies = movies[similar_movie_idxs]
    # return the top 5 movies
    return similar_movies

# Get popular Movie Recommendations

In [0]:
popular_movies = ['Minions', 'Interstellar', 'Deadpool', 'Jurassic World', 'Pirates of the Caribbean: The Curse of the Black Pearl',
              'Dawn of the Planet of the Apes', 'The Hunger Games: Mockingjay - Part 1', 'Terminator Genisys', 
              'Captain America: Civil War', 'The Dark Knight', 'The Martian', 'Batman v Superman: Dawn of Justice', 
              'Pulp Fiction', 'The Godfather', 'The Shawshank Redemption', 'The Lord of the Rings: The Fellowship of the Ring',  
              'Harry Potter and the Chamber of Secrets', 'Star Wars', 'The Hobbit: The Battle of the Five Armies',
              'Iron Man']

In [80]:
for movie in popular_movies:
    print('Movie:', movie)
    print('Top 5 recommended Movies:', movie_recommender(movie_title=movie, movies=movies_list, doc_sims=doc_sim_df))
    print()

Movie: Minions
Top 5 recommended Movies: ['Despicable Me 2' 'Despicable Me'
 'Teenage Mutant Ninja Turtles: Out of the Shadows' 'Superman'
 'Rise of the Guardians']

Movie: Interstellar
Top 5 recommended Movies: ['Gattaca' 'Space Pirate Captain Harlock' 'Space Cowboys'
 'Starship Troopers' 'Final Destination 2']

Movie: Deadpool
Top 5 recommended Movies: ['Silent Trigger' 'Underworld: Evolution' 'Bronson' 'Shaft' 'Don Jon']

Movie: Jurassic World
Top 5 recommended Movies: ['Jurassic Park' 'The Lost World: Jurassic Park'
 "National Lampoon's Vacation" 'The Nut Job' 'Vacation']

Movie: Pirates of the Caribbean: The Curse of the Black Pearl
Top 5 recommended Movies: ["Pirates of the Caribbean: Dead Man's Chest"
 'Pirates of the Caribbean: On Stranger Tides' 'The Pirate'
 'The Pirates! In an Adventure with Scientists!' 'Joyful Noise']

Movie: Dawn of the Planet of the Apes
Top 5 recommended Movies: ['Battle for the Planet of the Apes' 'Groove' 'The Other End of the Line'
 'Chicago Overcoat' 'Definitely, Maybe']

Movie: The Hunger Games: Mockingjay - Part 1
Top 5 recommended Movies: ['The Hunger Games: Catching Fire' 'The Hunger Games: Mockingjay - Part 2'
 'John Carter' 'For Greater Glory - The True Story of Cristiada'
 'The Proposition']

Movie: Terminator Genisys
Top 5 recommended Movies: ['Terminator 2: Judgment Day' 'Terminator Salvation'
 'Terminator 3: Rise of the Machines' 'Mad Max'
 'X-Men: Days of Future Past']

Movie: Captain America: Civil War
Top 5 recommended Movies: ['Captain America: The Winter Soldier' 'This Means War'
 'Avengers: Age of Ultron' 'Iron Man 2' 'Escape from Tomorrow']

Movie: The Dark Knight
Top 5 recommended Movies: ['The Dark Knight Rises' 'Batman Forever' 'Batman Returns'
 'Batman: The Dark Knight Returns, Part 2' 'JFK']

Movie: The Martian
Top 5 recommended Movies: ['The Last Days on Mars' 'Swept Away' 'Alive' 'All Is Lost' 'Red Planet']

Movie: Batman v Superman: Dawn of Justice
Top 5 recommended Movies: ['Batman Returns' 'The Punisher' 'Defendor'
 'Batman: The Dark Knight Returns, Part 2' 'Nowhere to Run']

Movie: Pulp Fiction
Top 5 recommended Movies: ['Sliding Doors' 'You Kill Me' 'New York Stories' 'Timecrimes'
 'All or Nothing']

Movie: The Godfather
Top 5 recommended Movies: ['The Godfather: Part II' 'Blood Ties' 'Made' 'Lords of London'
 'Easy Money']

Movie: The Shawshank Redemption
Top 5 recommended Movies: ['Civil Brand' 'Les Misérables' 'The Chorus' 'Prison' 'Fortress']

Movie: The Lord of the Rings: The Fellowship of the Ring
Top 5 recommended Movies: ['The Lord of the Rings: The Two Towers'
 'The Hobbit: The Desolation of Smaug'
 'The Lord of the Rings: The Return of the King'
 "What's the Worst That Could Happen?" 'The Hobbit: An Unexpected Journey']

Movie: Harry Potter and the Chamber of Secrets
Top 5 recommended Movies: ['Harry Potter and the Prisoner of Azkaban'
 'Harry Potter and the Goblet of Fire'
 'Harry Potter and the Order of the Phoenix'
 'Harry Potter and the Half-Blood Prince'
 "Harry Potter and the Philosopher's Stone"]

Movie: Star Wars
Top 5 recommended Movies: ['The Empire Strikes Back' 'Return of the Jedi' 'Shrek the Third'
 'The Ice Pirates' 'The Tale of Despereaux']

Movie: The Hobbit: The Battle of the Five Armies
Top 5 recommended Movies: ['The Hobbit: The Desolation of Smaug' 'The Hobbit: An Unexpected Journey'
 "Dragon Nest: Warriors' Dawn"
 'A Funny Thing Happened on the Way to the Forum' 'X-Men: Apocalypse']

Movie: Iron Man
Top 5 recommended Movies: ['Iron Man 2' 'Avengers: Age of Ultron' 'Hostage' 'Iron Man 3'
 'Baahubali: The Beginning']

In [0]:
from gensim.models import FastText

tokenized_docs = [doc.split() for doc in norm_corpus]
ft_model = FastText(tokenized_docs, size=300, window=30, min_count=2, workers=4, sg=1, iter=50)

In [0]:
def averaged_word2vec_vectorizer(corpus, model, num_features):
    vocabulary = set(model.wv.index2word)
    
    def average_word_vectors(words, model, vocabulary, num_features):
        feature_vector = np.zeros((num_features,), dtype="float64")
        nwords = 0.
        
        for word in words:
            if word in vocabulary: 
                nwords = nwords + 1.
                feature_vector = np.add(feature_vector, model.wv[word])
        if nwords:
            feature_vector = np.divide(feature_vector, nwords)

        return feature_vector

    features = [average_word_vectors(tokenized_sentence, model, vocabulary, num_features)
                    for tokenized_sentence in corpus]
    return np.array(features)

In [85]:
doc_vecs_ft = averaged_word2vec_vectorizer(tokenized_docs, ft_model, 300)
doc_vecs_ft.shape

(4800, 300)

In [86]:
doc_sim = cosine_similarity(doc_vecs_ft)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df.head()

       0         1         2     ...      4797      4798      4799
0  1.000000  0.492664  0.496308  ...  0.474379  0.518188  0.551425
1  0.492664  1.000000  0.563403  ...  0.494966  0.523733  0.573146
2  0.496308  0.563403  1.000000  ...  0.525498  0.542619  0.545562
3  0.510912  0.545177  0.578705  ...  0.507392  0.502579  0.544799
4  0.535769  0.603489  0.587129  ...  0.572681  0.649322  0.628217

[5 rows x 4800 columns]

In [87]:
for movie in popular_movies:
    print('Movie:', movie)
    print('Top 5 recommended Movies:', movie_recommender(movie_title=movie, movies=movies_list, doc_sims=doc_sim_df))
    print()

Movie: Minions
Top 5 recommended Movies: ['Despicable Me' 'Time Bandits'
 'Rise of the Entrepreneur: The Search for a Better Way'
 'Austin Powers: The Spy Who Shagged Me' 'Despicable Me 2']

Movie: Interstellar
Top 5 recommended Movies: ['Gattaca' 'Prometheus' 'The Cave'
 'Sea Rex 3D: Journey to a Prehistoric World' 'Space Cowboys']

Movie: Deadpool
Top 5 recommended Movies: ['Fantastic Four' 'Banshee Chapter' 'Spider-Man 3' 'Enough' 'Spider-Man 2']

Movie: Jurassic World
Top 5 recommended Movies: ['Jurassic Park' 'Jurassic Park III' 'The Lost World: Jurassic Park'
 "National Lampoon's Vacation" 'Walking With Dinosaurs']

Movie: Pirates of the Caribbean: The Curse of the Black Pearl
Top 5 recommended Movies: ['Pirates of the Caribbean: On Stranger Tides'
 'The Pirates! In an Adventure with Scientists!'
 "Pirates of the Caribbean: Dead Man's Chest"
 'American Ninja 2: The Confrontation' 'In the Name of the King III']

Movie: Dawn of the Planet of the Apes
Top 5 recommended Movies: ['Battle for the Planet of the Apes' 'Conquest of the Planet of the Apes'
 'Planet of the Apes' 'Rise of the Planet of the Apes'
 'Beneath the Planet of the Apes']

Movie: The Hunger Games: Mockingjay - Part 1
Top 5 recommended Movies: ['The Hunger Games: Catching Fire' 'The Hunger Games: Mockingjay - Part 2'
 'The Hunger Games' 'White House Down' 'Pieces of April']

Movie: Terminator Genisys
Top 5 recommended Movies: ['Terminator 2: Judgment Day' 'Terminator 3: Rise of the Machines'
 'Terminator Salvation' 'X-Men: Days of Future Past' 'The Terminator']

Movie: Captain America: Civil War
Top 5 recommended Movies: ['Captain America: The Winter Soldier' 'Avengers: Age of Ultron'
 'Iron Man 2' 'Divergent' 'Star Trek Into Darkness']

Movie: The Dark Knight
Top 5 recommended Movies: ['The Dark Knight Rises' 'Batman Forever' 'Batman Returns' 'Batman'
 'Batman: The Dark Knight Returns, Part 2']

Movie: The Martian
Top 5 recommended Movies: ['Battleship' 'Red Planet' 'Sanctum' 'Alien'
 'Star Trek IV: The Voyage Home']

Movie: Batman v Superman: Dawn of Justice
Top 5 recommended Movies: ['Defendor' 'Batman: The Dark Knight Returns, Part 2' 'Batman Returns'
 'Batman' 'The Dark Knight Rises']

Movie: Pulp Fiction
Top 5 recommended Movies: ['Locker 13' 'Sliding Doors' '11:14' 'Crying with Laughter' 'The Sting']

Movie: The Godfather
Top 5 recommended Movies: ['The Godfather: Part II' 'The Godfather: Part III' 'Loose Cannons'
 'Machete' 'The Jerky Boys']

Movie: The Shawshank Redemption
Top 5 recommended Movies: ['Civil Brand' 'Prison' 'Escape Plan' 'Bridge of Spies' 'Get Hard']

Movie: The Lord of the Rings: The Fellowship of the Ring
Top 5 recommended Movies: ['The Lord of the Rings: The Two Towers'
 'The Hobbit: An Unexpected Journey' 'The Hobbit: The Desolation of Smaug'
 'The Lord of the Rings: The Return of the King'
 'The Hobbit: The Battle of the Five Armies']

Movie: Harry Potter and the Chamber of Secrets
Top 5 recommended Movies: ['Harry Potter and the Goblet of Fire'
 'Harry Potter and the Prisoner of Azkaban'
 'Harry Potter and the Order of the Phoenix'
 'Harry Potter and the Half-Blood Prince'
 "Harry Potter and the Philosopher's Stone"]

Movie: Star Wars
Top 5 recommended Movies: ['The Empire Strikes Back' 'Return of the Jedi'
 'Star Wars: Episode III - Revenge of the Sith'
 'Star Wars: Episode II - Attack of the Clones' 'The Ice Pirates']

Movie: The Hobbit: The Battle of the Five Armies
Top 5 recommended Movies: ['The Hobbit: The Desolation of Smaug' 'The Hobbit: An Unexpected Journey'
 "Dragon Nest: Warriors' Dawn" '300: Rise of an Empire'
 'Battle for the Planet of the Apes']

Movie: Iron Man
Top 5 recommended Movies: ['Iron Man 2' 'Avengers: Age of Ultron' 'Batman Begins' 'Iron Man 3'
 'Steel']

In [0]:
import tensorflow_hub as hub
import tensorflow as tf

elmo = hub.Module("https://tfhub.dev/google/elmo/2", trainable=False)

In [90]:
sample_desc = df.iloc[0]['description']
sample_desc

'Before Gru, they had a history of bad bosses Minions Stuart, Kevin and Bob are recruited by Scarlet Overkill, a super-villain who, alongside her inventor husband Herb, hatches a plot to take over the world.'

In [91]:
embeddings = elmo([sample_desc], signature="default", as_dict=True)["elmo"]
embeddings.shape

TensorShape([Dimension(1), Dimension(35), Dimension(1024)])

In [0]:
with tf.Session() as sess:
    embeddings = elmo([sample_desc, 'hello how are you'], signature="default", as_dict=True)["elmo"]
    sess.run(tf.global_variables_initializer())
    sess.run(tf.tables_initializer())
    a = (sess.run(tf.reduce_mean(embeddings,1)))

In [0]:
def get_elmo_embeddings(docs, batch_size=32):
  elmo_embeddings = []
  i = 0
  total_docs = len(docs)
  with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    sess.run(tf.tables_initializer())
    while i < total_docs:
      i_new = i + batch_size
      if i_new < len(docs):
        embeddings = elmo(docs[i:i_new], signature="default", as_dict=True)["elmo"]
      else:
        embeddings = elmo(docs[i:], signature="default", as_dict=True)["elmo"]
      i = i_new
      elmo_embeddings.append(sess.run(tf.reduce_mean(embeddings,1)))
    return np.concatenate(elmo_embeddings, axis=0)

In [138]:
elmo_embeddings = get_elmo_embeddings(norm_corpus, batch_size=128)
elmo_embeddings.shape

(4800, 1024)

In [139]:
doc_sim = cosine_similarity(elmo_embeddings)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df.head()

       0         1         2     ...      4797      4798      4799
0  1.000000  0.673902  0.751573  ...  0.720340  0.782287  0.690373
1  0.673902  1.000000  0.635209  ...  0.593951  0.613347  0.577721
2  0.751573  0.635209  1.000000  ...  0.783749  0.799898  0.729796
3  0.863714  0.745993  0.776931  ...  0.746616  0.788071  0.673620
4  0.689305  0.662533  0.812324  ...  0.757307  0.787797  0.740129

[5 rows x 4800 columns]

In [140]:
for movie in popular_movies:
    print('Movie:', movie)
    print('Top 5 recommended Movies:', movie_recommender(movie_title=movie, movies=movies_list, doc_sims=doc_sim_df))
    print()

Movie: Minions
Top 5 recommended Movies: ['Shooting Fish' 'Alice Through the Looking Glass'
 'My Super Ex-Girlfriend' 'Hocus Pocus' 'Ernest & Celestine']

Movie: Interstellar
Top 5 recommended Movies: ['The Ice Pirates' 'Transformers: Age of Extinction'
 '2001: A Space Odyssey' 'Prometheus' 'Sphere']

Movie: Deadpool
Top 5 recommended Movies: ['The Dark Knight Rises' 'Enough' 'Secret Window'
 'The Silence of the Lambs' 'Locker 13']

Movie: Jurassic World
Top 5 recommended Movies: ['Marmaduke' 'Super Mario Bros.' 'The Shining' 'How to Be Single' 'Cheri']

Movie: Pirates of the Caribbean: The Curse of the Black Pearl
Top 5 recommended Movies: ['Pirates of the Caribbean: On Stranger Tides' 'Moby Dick' 'Sharknado'
 'Dear John' 'Jaws']

Movie: Dawn of the Planet of the Apes
Top 5 recommended Movies: ['Resident Evil: Extinction' 'Hoot' 'The 13th Warrior' 'The Night Visitor'
 'Star Trek: Generations']

Movie: The Hunger Games: Mockingjay - Part 1
Top 5 recommended Movies: ['Invasion U.S.A.' 'Mirrors' 'Gods of Egypt' 'Furious 7'
 'Jekyll and Hyde ... Together Again']

Movie: Terminator Genisys
Top 5 recommended Movies: ['Idiocracy' 'War' 'Avengers: Age of Ultron' 'Capricorn One'
 'Transformers']

Movie: Captain America: Civil War
Top 5 recommended Movies: ['X-Men: Days of Future Past' 'The Incredible Hulk' 'Gettysburg'
 'Star Trek: Insurrection' 'Men of Honor']

Movie: The Dark Knight
Top 5 recommended Movies: ['The Dark Knight Rises' 'War' 'Beverly Hills Cop II' 'Defendor'
 'Tombstone']

Movie: The Martian
Top 5 recommended Movies: ['Deep Impact' 'Gravity' 'Muppets from Space' 'Silent Running' 'Alien']

Movie: Batman v Superman: Dawn of Justice
Top 5 recommended Movies: ['Thor' 'The Assassination of Jesse James by the Coward Robert Ford'
 'Captain America: The First Avenger' 'Star Trek' 'War']

Movie: Pulp Fiction
Top 5 recommended Movies: ['Bleeding Hearts' 'Shaun of the Dead' 'The Perks of Being a Wallflower'
 'The Poker House' 'Donkey Punch']

Movie: The Godfather
Top 5 recommended Movies: ['Get Carter' 'In Cold Blood' 'The Black Dahlia' 'GoodFellas'
 'Once Upon a Time in America']

Movie: The Shawshank Redemption
Top 5 recommended Movies: ['Prison' 'Bronson' 'The Whole Nine Yards' 'Brazil' 'Deadpool']

Movie: The Lord of the Rings: The Fellowship of the Ring
Top 5 recommended Movies: ['New Nightmare' 'Beetlejuice' 'Superman Returns' 'Shrek Forever After'
 'Salton Sea']

Movie: Harry Potter and the Chamber of Secrets
Top 5 recommended Movies: ['Dream with the Fishes' 'Harry Potter and the Half-Blood Prince'
 'Alice Through the Looking Glass' "The Party's Over"
 'The Boys from Brazil']

Movie: Star Wars
Top 5 recommended Movies: ['You Only Live Twice' 'The Empire Strikes Back' 'DOA: Dead or Alive'
 'Dr. No' 'Pirates of the Caribbean: On Stranger Tides']

Movie: The Hobbit: The Battle of the Five Armies
Top 5 recommended Movies: ['Wrath of the Titans' 'Wild Wild West' 'Braveheart'
 'Underworld: Rise of the Lycans' 'Harry Potter and the Goblet of Fire']

Movie: Iron Man
Top 5 recommended Movies: ['Iron Man 3' 'Love in the Time of Monsters' 'Yoga Hosers' 'Tycoon'
 'The Matrix']